body {
    font-family:Arial, Helvetica, sans-serif !important;
    font-size: 30px !important;
}

.header {
    height: 350px;
    /* width: 100%; */
    /* overflow: hidden; */
    background-color: lightgray;
}

.laps {
    background-color: grey;
}

.lap-1 {
    width: 30%;
    margin: auto;
}

.over {
    overflow: scroll;
}